%ul.nav.nav-pills.form_tabs
  %li.active
    %a{href: '#broker_selection', data: {toggle: "pill"}} Broker selection
  %li
    %a{href: '#company_type', data: {toggle: "pill"}} Company type
  %li
    %a{href: '#supporting_document', data: {toggle: "pill"}} Supporting document
.progress
  .progress-bar.progress-bar-success{role: 'progressbar', style: 'width: 0%;'}
  .progress-bar.progress-bar-info{role: 'progressbar', style: 'width: 33%;'}
= simple_form_for @customer, :html => { class: 'form-horizontal', multipart: true } do |f|
  .form-actions.tab-content
    .tab-pane.active.fade.in#broker_selection
      %ul.has-error
        - @customer.errors.full_messages.each do |msg|
          %li.help-block= msg
      = f.association :brokers, as: :check_boxes
      .next_step.btn.btn-primary Next
    .tab-pane.fade#company_type
      %select.form-control#company-type-selection
        %option
        %option Charity
        %option LimitedCompany
        %option Partnership
        %option PublicLimitedCompany
        %option SoleTrader
        %option Trust
      #company-details-fields
      .next_step.btn.btn-primary Next
    .tab-pane.fade#supporting_document
      = f.fields_for :company, Company.new do |c|
        = c.fields_for :supporting_document, SupportingDocument.new do |sd|
          #supporting-document-fields
          = sd.file_field :file

      = f.button :submit, :class => 'btn-primary'
