- model_class = Customer
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize

= link_to t('.new', :default => t("helpers.links.new")), new_customer_path, :class => 'btn btn-primary'

%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:created_at)
  %tbody
    - @customers.each do |customer|
      %tr
        %td= link_to "#{customer.id}_#{customer.company.try :name}", customer_path(customer)
        %td=l customer.created_at
