- type = params[:type]
= fields_for Customer.new do |c|
  = c.fields_for :company, type.constantize.new do |f|
    = f.hidden_field :type, value: type

    :ruby
      fields = {
        name: {options: {required: ''}},
        address: {},
        number: {},
        email: {label: 'Email Address', type: :email_field}
      }

    = render "customers/template/#{type.underscore}", {f: f, fields: fields}

    - fields.each do |field, config|
      - partial = config.kind_of?(String) ? config : 'company_form_field'
      = render partial, {f: f, field: field, config: config}
